body {
    background-color: rgb(255, 230, 0);
    margin-top: 40px;
}

header {
    text-align: center;
    margin: 20px;
}

header img {
    width: 250px;
    height: 200px;
    border-radius: 15%;
    -webkit-filter: saturate(1);
    filter: saturate(1);
}

h1 {
    color: rgb(255, 0, 0);
    letter-spacing: 4px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

#all-uneaten {
    /* border: 1px solid black; */
    width: 50%;
    float: left;
}


#all-eaten {
    /* border: 1px solid black; */
    width: 50%;
    float: right;
}

#all-uneaten, #all-eaten {
    text-align: center;
}

#enter-burger {
    margin-top: 40px;
    /* border: 2px solid black; */
    text-align: center;
}

#all-burgers {
    margin-bottom: 40px;
}

.each-burger {
    border: 2px solid red;
    border-radius: 5%;
    margin: 0 auto;
    margin-bottom: 2px;
    width: 250px;
    padding: 15px 0 15px 0;

}

.ate-burger {
    background-color: rgb(164, 164, 164);
    border: 0px;
    color: rgb(194, 194, 194);
}

.devoured-0, .devoured-1 {
    display: inline;
}

.devour-button {
    background-color: rgb(157, 0, 0); /* Green */
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    }

#create {
    padding: 5px 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .devour-button:hover {
        background-color: red; /* Green */
        color: white;
  }